@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    color: #ffffff;

}

html {
    scroll-behavior: smooth;
}

.container-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    color: black;
}

.logo {
    font-family: "montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
}

.cabecalho {
    background-color: black;
    justify-content: space-between;
    align-items: center;
}
.bottoes {
    display: flex;
    gap: 15px;
}
.navegacao ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navegacao ul li {
    display: flex;
    justify-content: space-between;
    align-items: flex;
}

.navegacao-right ul li {

    display: flex;
    justify-content:space-evenly;
    align-items: flex;
    
}
.main-banner {
    background-color:#00cfff ;
    height: 40vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.trolley {
    display: flex;
    justify-content: space-between;
    size: 1px;
    align-items: flex-end;

}