@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;

       text-decoration: none;
    color: white;

}

html {
    scroll-behavior: smooth;
}


.logo {
    font-family: "montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
}

.cabecalho {
    display: flex;
    /* background-color: black; */
    justify-content: space-between;
    align-items: center;
    height: 120px;
    /* margin-left: 2rem; */
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    

}

.left-cabecalho {

    /* background-color:chartreuse; */
    /* width: 50%; */
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    
    
}

.left-cabecalho h1 {
    color: white;
}
.right-cabecalho {
    /* background-color: chocolate; */
    height: 100%;
    /* width: 50%; */
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column;
    justify-content: center;

}

.left-cabecalho img {
    height: 35px;
    color: white;


}
.linha-1 {

    display: flex;
    gap: 1rem;
    color: white;
    text-decoration: none;
}


.linha-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.linha-2 img {
height: 30px;

}
.pesquisar {
    width: 30vw;
}
.main-banner {
    background-color:#00cfff ;
    justify-content: center;
    flex-direction: column;
   
}
.main-banner h1,h2 {

    color: white;
}
.titulos {
    /* background-color: blue; */
    width: 100%;
    text-align: center;
 }

.botao-monitor  {

    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}
.botao-monitor a {
    color: white;
}

.botao-monitor img {

    height: 200px;
    margin-right:  7vw;
}
.category-linha {

    display: flex;
    flex-direction: column;

}
.container-imgs {
    background-color: blue;

}

.botao-branco {

    border-style: solid;
    padding: 0.25rem 1rem;
    border-radius: 20px;
    margin-left: 10vw;
    
}

.bottoes {
    display: flex;
    gap: 15px;
}
.navegacao ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navegacao ul li {
    display: flex;
    justify-content: space-between;
    align-items: flex;
}

.navegacao-right ul li {

    display: flex;
    justify-content:space-evenly;
    align-items: flex;
    
}


.input-trolley {
    display: flex;
    justify-content: space-between;
    size: 1px;
    align-items: flex-end;

}
.monitor png {
    size: 1px;
}



.titulos h1 {
font-size:3rem;
padding-top: 2rem;
}

.titulos h2 {
    font-size: 1rem;
}


.h3 {
    font: size 1.8rem;
    color: black;
    align-items: center;
}


.h4 {
    font-size: 1.8rem;
    color: black;
    display: flex;
}
.Featured-Products {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}


